*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    color: #313a3d;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ebebeb;
        background: #121212;
    }
}

header#banner {
    margin: 25px 0;
}

header#banner a {
    color: #313a3d;
    text-decoration: none;
}

header#banner a:hover {
    text-decoration: underline;
}

header#banner h2 {
    display: inline;
    font-size: 21px;
    font-size: 2.1rem;
    margin: 0 8px 0 0;
}

header#banner nav {
    display: inline-block;
}

header#banner nav ul {
    list-style-type: none;
    font-size: 1.05em;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

header#banner nav ul li {
    display: inline;
    margin: 0 3px;
}

header#banner nav ul li a {
    color: #454545;
}

@media (prefers-color-scheme: dark) {
    header#banner a {
        color: #e0e0e0;
        text-decoration: none;
    }

    header#banner nav ul li a {
        color: #cccccc;
    }
}

main#content a {
    color: #007dfa;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    main#content a {
        color: #00b1ed;
    }
}

main#content a:hover {
    text-decoration: underline;
}

main#content p {
    color: #394548;
    margin: 16px 0;
}

@media (prefers-color-scheme: dark) {
    main#content p {
        color: #f5f5f5;
    }
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-bottom: 0;
    line-height: 1.15;
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 5px;
}

main#content h3 {
    font-size: 19px;
    font-size: 1.9rem;
}

/* index.html styles */
main#content ul#posts {
    list-style-type: none;
    font-size: 16px;
    font-size: 1.6rem;
    margin-top: 0;
    padding: 0;
}

main#content ul#posts li {
    margin: 5px 0;
    padding: 0;
}

main#content ul#posts small {
    font-size: 0.8em;
    color: #767676;
    margin-left: 10px;
}

@media (prefers-color-scheme: dark) {
    main#content ul#posts small {
        color: #a7a7a7;
    }
}

main#content ul#posts li a {
    text-decoration: none;
}

main#content ul#posts li a:hover {
    color: #369aff;
}

main#content ul#posts li a:hover small {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    main#content ul#posts li a:hover {
        color: #21c7ff;
    }
}

/* single.html styles */
main#content header#post-header h1 {
    display: block;
    font-size: 23px;
    font-size: 2.3rem;
    line-height: 1.15;
}

main#content header#post-header time {
    display: block;
    font-size: 0.85em;
    color: #767676;
}

@media (prefers-color-scheme: dark) {
    main#content header#post-header time {
        color: #a7a7a7;
    }
}

main#content img {
    max-width: 100%;
    margin: 0 auto;
}

main#content code,
main#content pre {
    font-family: 'Menlo', monospace;
}

main#content code {
    font-size: 0.96em;
    padding: 0 5px;
}

main#content pre {
    display: block;
    overflow-x: auto;
    font-size 14px;
    font-size: 1.4rem;
    white-space: pre;
    margin: 20px 0;
    padding: 1.5rem 1.5rem;
    line-height: 1.4;
}

main#content pre code {
    padding: 0;
}

footer#footer {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #949494;
    margin: 40px 0;
}
