<head>
    <title>{{ .Title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">
    {{ end }}

    <style type="text/css" media="screen">
        {{ partial "css/main.css" . | safeCSS }}
    </style>

    <style type="text/css" media="(min-width: 770px)">
        {{ partial "css/min770px.css" . | safeCSS }}
    </style>

    {{ if .Site.Params.highlight }}
        {{ $syntax := resources.Get "css/syntax.css" | minify }}
        <link rel="stylesheet" href="{{ $syntax.Permalink }}">
    {{ end }}

    <link rel="shortcut icon" href='{{ "favicon.ico" | absURL }}'>
</head>
