{{ define "main" }}
<article>
    <header id="post-header">
        {{ if eq .RelPermalink "/" }}
            <h1 style="visibility:hidden;">&nbsp;</h1>
        {{ end }}
    </header>
    <div class="landing-page-content">
        <div class="text-content">
            {{- partial "about_excerpt.html" . -}}
            {{ .Content }}
        </div>
        <div class="image-content image-accent">
            <img src="{{ "img/09_headshot.jpg" | absURL }}" alt="Your Name" class="profile-image">
        </div>
    </div>
</article>
{{ end }}


